[Unit]
Description=k0s worker
Documentation=https://docs.k0sproject.io/
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart={{ k0s_binary_dest }} \
    worker --token-file {{ k0s_config_dir }}/worker-token

[Install]
WantedBy=multi-user.target
