[Unit]
Description=k0s - Zero Friction Kubernetes
ConditionFileIsExecutable=/usr/local/bin/k0s
Documentation=https://docs.k0sproject.io/
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart={{ k0s_binary_dest }} worker \
    --token-file {{ k0s_config_dir }}/worker-token

Restart=always
RestartSec=120
KillMode=process

StandardOutput=file:/var/log/k0s.log
StandardError=file:/var/log/k0s-error.log

[Install]
WantedBy=multi-user.target
