[Unit]
Description=k0s - Zero Friction Kubernetes
ConditionFileIsExecutable=/usr/local/bin/k0s
Documentation=https://docs.k0sproject.io/
After=network-online.target

[Service]
User=k0s
Group=k0s
Type=simple
ExecStart={{ k0s_binary_dest }} server \
    --config {{ k0s_config_dir }}/k0s.yaml

Restart=always
RestartSec=120
KillMode=process
[Install]
WantedBy=multi-user.target
