[Unit]
Description=k0s controller
Documentation=https://docs.k0sproject.io/
After=network-online.target

[Service]
User=k0s
Group=k0s
Type=simple
ExecStart={{ k0s_binary_dest }} \
    server -c {{ k0s_config_dir }}/k0s.yaml

[Install]
WantedBy=multi-user.target
